DATABASE_URL="postgresql://postgres:postgres@db:5432/ops?schema=public"
NEXTAUTH_SECRET=<SECRET_HERE>
NEXTAUTH_URL=http://localhost:3000
GITHUB_ID=<GITHUB_ID_HERE>
GITHUB_SECRET=<>
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=